@import "../../ui/src/styles/modern-minimal.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  html,
  body,
  #__plasmo {
    @apply bg-background font-sans text-foreground antialiased;
    margin: 0;
    min-width: 320px;
    width: 320px;
  }
}
